.center {
    margin: auto;
    /*width: 80%;*/
    /*border: 3px solid #EDEAE9;*/
    padding: 10px;
    text-align: center;
    float: left;
    width: 1000px;
    /*height: 1200px;*/
    position: absolute;
    /*background-color: blue;*/
    /*top: 50%;*/
    left: 15%;
    /*margin-top: -20px;*/
    /*margin-left: -500px;*/

}

.internal {
    margin: auto;
    margin-left: 10px;
    width: 45%;
    /*height: 510px;*/
    /*border: 1px solid #000000;*/
    float: left;
}

#right_internal {
    margin: auto;
    margin-left: 20px;
    width: 45%;
    /*height: 540px;*/
    /*border: 1px solid #000000;*/
    float: left;
}

#prediction {
    /*float: left;*/
    /*width: 45%;*/
    /*margin-left: 10px;*/
    /*margin-top: 20px;*/
    /*max-height: 100%;*/
    /*height: 150px;*/
    /*border: 1px solid #000000;*/
    font-size: 14px;
    color: #5d4e4e;
    font-weight: bold;
    display: block;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

.label_form {
    background-color: #8F9797;
    color: white;
    font-size: 24px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}

.guide_label {
    background-color: #8F9797;
    color: white;
    font-size: 24px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}

#prediction_title {
    background-color: #8F9797;
    color: white;
    font-size: 24px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.guide {
    /*margin: auto;*/
    margin-left: 0px;
    width: 100%;
    /*border: 1px solid #000000;*/
    float: left;
}

textarea {
    resize: none;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 98%;
    height: 290px;
}

img {
    max-width: 95%;
    height: auto;
}

h1 {
    color: #777777;
    font-weight: bold;
}

.logos {
    width: 150px;
}

footer {
    float: left;
    width: 95%;
    margin-top: 15px;
    /*border: 1px solid #000000;*/

}

#logo_paris {
    float: left;
    margin-left: 10px;
}

#logo_dsi {
    float: right;
    /*margin-right: 10px;*/
}

#send {
    background-color: #8F9797; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#send:hover {
    /*background-color: #4CAF50; !* Green *!*/
    /*color: white;*/
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#first_class {
    font-size: 18px;
    color: #5d4e4e;
    font-weight: bold;
    display: block;
    margin-top: 0px;
}

#second_class {
    font-size: 16px;
    color: #5d4e4e;
    margin-top: 0px;
    display: block;
    /*margin-bottom: 5px;*/
    font-weight: normal;
}

#credits {
    margin-top: 40px;
    color: #8F9797;
    font-weight: bold;
    font-size: 12px;
    width: 95%;
    text-align: left;
}